kctf/*
!kctf/readme.md
!kctf/VERSION
.data/
.vs/
.vscode/
data/mysql/*
data/CTFd/logs/*
data/redis/*
data/CTFd/ctfcli-old/
data/CTFd/build/
data/CTFd/source/
data/CTFd/build/*
!data/CTFd/build/singlehtml/
extra/ctf-challenges-master
extra/ctf-2019-release-master
extra/ctf-2020-release-master